#single-Toy{
    width: 100%;
    padding: 50px 10px;
    background-color: #efdeded9 !important;
}

#single-Toy h1{
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-bottom: 20px;
}

.card{
    width: 100%;
    text-align: center;
    padding: 30px;
}


.card img{
    width: 100%;
    height: 300px;
}

.card-body p{
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: regular;

}

.card-body h5{
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: regular;
    font-size: 30px;

}

