#AddToy-part{
    width: 100%;
    padding: 50px 0;
    background-color:#efdeded9 !important;
}

#AddToy-part .toy-item input{
    width: 48%;
    margin-left: 2%;
    margin-bottom: 10px;
    border: 0;
    padding: 10px 10px;
    border-radius: 5px;
    font-family: 'Mochiy Pop One', sans-serif; 
}

#AddToy-part .toy-item .btn-toy{
    width: 98%;
    font-family: 'Mochiy Pop One', sans-serif; 
    background-color: rgb(35, 88, 233);
    color: #fff;

}

#AddToy-part h1{
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif; 
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.748);
    margin-bottom: 20px;
}