#navbar{
    width: 100%;
    line-height: 50px;
    background-color:#efdede8b;
}

#navbar .nav-item{
    display: inline-block;
    color: rgba(0, 0, 0, 0.748);
    padding: 0 25px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid salmon ;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: .4s;
}



#navbar .nav-logo{
    display: flex;
}

#navbar .nav-logo h3{
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Mochiy Pop One', sans-serif;
}

#navbar .nav-logo .name{
    color:salmon ;
    font-weight: bold;
}

#navbar .nav-logo .toy{
    color: green;
    font-weight: bold;
}


.navbar .logo{
    width: 80px;
    height: 50px;
}

.navbar .nav-item {
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}

.navbar .btn-login{
    display: inline-block;
    color: #fff;
    padding: 0 25px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: regular;
    font-size: 15px;
    background-color: rgb(35, 88, 233) !important;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 0;
}

.navbar .btn-logout{
    display: inline-block;
    color: #fff;
    padding: 0 25px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: regular;
    font-size: 15px;
    background-color: rgb(35, 88, 233) !important;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 0;

}

.text-white{
    color: #ffff;
}
.photo-url{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
