#footer-part{
    width: 100%;
    padding: 50px 10px;
    background-color:#efdede8b;
}


#footer-part .footer-item {
    display: flex;
}



#footer-part .footer-item img{
    width: 80px;
    height: 50px;
}

#footer-part .footer-item h3{
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.748);
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Mochiy Pop One', sans-serif; 
}

#footer-part .footer-item .name{
    color: salmon;
}

#footer-part .footer-item .toy{
    color: green;
}

#footer-part  p{
    font-family: 'Mochiy Pop One', sans-serif;
    color: rgba(0, 0, 0, 0.748);
    font-weight: regular;
    font-size: 14px;
    margin-top: 20px;
    transition: .4s;

}

#footer-part h2{
    color: rgba(0, 0, 0, 0.748);
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Mochiy Pop One', sans-serif; 

}

#footer-part p:hover{
    margin-left: 10px;
    cursor: pointer;
    color: rgb(54, 221, 202);
}