#blog-part{
    width: 100%;
    padding: 50px 10px;
    background-color: #f1c3c3cb;
}
#blog-part .blog-item{
    font-family: 'Mochiy Pop One', sans-serif; 
    font-weight: bold;
    color: rgba(0, 0, 0, 0.748);
}

#blog-part .blog-item h1{
    text-align: center;
    font-weight: bold;
}

#blog-part .blog-item .ans-part h3{
    color: #3c96b6;
    font-weight: regular;
    font-size: 25px;

}

#blog-part .blog-item .ans-part p{
    font-family: 'Mochiy Pop One', sans-serif; 
    color: rgba(0, 0, 0, 0.762);
    font-weight: regular;
    font-size: 15px;

}