#collection-part {
  width: 100%;
  text-align: center;
  padding: 50px 10px;
}

#collection-part h2{
    font-family: 'Mochiy Pop One', sans-serif; 
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.748);
    margin: 20px 0;
}

#collection-part p{
    font-family: 'Mochiy Pop One', sans-serif; 
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.748);
    margin-bottom: 40px;

}

#collection-part .collection-item .box .img {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 20px;
}

#collection-part .collection-item .box .img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(54, 221, 202, 0.286);
  border-radius: 10px;
  opacity: 0;
  transition: .4s;
}

#collection-part .collection-item .box .img:hover .overlay{
    opacity: 1;
    width: 100%;
}

#collection-part .collection-item .box .img .overlay .icon {
  font-size: 80px;
  color: rgb(54, 221, 202);
  margin-top: 100px;
}

#collection-part .collection-item .box .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
