#banner-part{
    position: relative;
}

#banner-part img{
    width: 100%;
    height: 700px;
}

#banner-part .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.198);
}

#banner-part .banner-text{
    text-align: center;
    padding-top: 100px;
    font-family: 'Mochiy Pop One', sans-serif;

}

#banner-part .banner-text h1{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #ffff;
}

#banner-part .banner-text h1 .k{
    color: yellow;
}
#banner-part .banner-text h1 .i{
    color: rgb(210, 12, 32);
}

#banner-part .banner-text h1 .d{
    color: green;
}

#banner-part .banner-text h1 .s{
    color: salmon;
}

#banner-part .banner-text h2{
    font-size: 30px;
    font-weight: bold;
    color: #2260f1;
    font-family: 'Mochiy Pop One', sans-serif;
    letter-spacing: 10px;
}

#banner-part .banner-text  p{

    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    padding: 10px 20px;


}

#banner-part .banner-text .btn-banner{
    border: 0;
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid rgb(119, 220, 235);
    background-color: #efdede8b ;
    border-radius: 20px;
    color: #fff;
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .4s;
}

#banner-part .banner-text .btn-banner:hover{
    background: transparent;
    border: 2px solid rgb(119, 220, 235);
    /* color: black; */
}